{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
<div class="container my-4">
    <div class="row">
        <h3>Welcome{{ request.user.username | capfirst }}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Password Change Done</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!!</h3>
            <div class="owl-video-wrapper">
                <iframe class="p-5 mb-5" src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}